:root{
    --accent1: #EFD6CE;
    --accent2: #A26769;
    --accent3: #732C2C;
    --dark: #320216;
    --grey: #515657;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* ---- Heading Attributes ---- */

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
    margin: 5px;
}

/* ---------------------------- */


/* ------- Header classes ------- */

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* padding: 2%; */
    background-color: var(--dark);
    color: var(--accent1);
    /* border-radius: 5px; */
    width: 100%;
    /* margin: auto; */
}

.headline-image-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header img{
    max-height: 200px;
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a{
    color: var(--accent1);
    text-decoration: none;
}

/* Nav hover functions */
nav a:hover{
    color: var(--accent2);
}

/* -------------------------- */


/* ------ Main classes ----- */

main {
    /* margin: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.multi-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.card{
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    min-height: 350px;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(rgba(50, 2, 22, 0.4) 0%, rgba(50, 2, 22, 0.7) 100%, rgba(115, 44, 44, 1));
}

.card:hover{
    box-shadow: 5px 5px 10px var(--dark);
}

#card-info{
    width: 75%;
    /* max-height: 125px; */
    background-color: var(--accent1);
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

/* About Section */

#about{
    background-color: var(--accent1);
    padding: 2%; 
}

#about a{
    color: var(--accent2);
}

#about a:hover{
    color: var(--dark);
}

/* Work Section */

#work{
    background-color: var(--accent2);
    padding: 2%;
}

#work a{
    color: #320216;
    text-decoration: none;
}

/* Contact Section */

#contact{
    background-color: var(--accent3);
    padding: 2%;
}

#contact ul{
    list-style-type: none;
    padding: 0;
}

#contact ul li{
    padding: 5px;
}

#contact ul li img{
    max-width: 20px;
    padding-right: 8px;
}

#contact a{
    color: var(--accent1);
    text-decoration: none;
}

#contact form input{
    width: 65%;
}

#socials{
    width: 45%;
}

#contact-form{
    width: 45%;
}

/* Contact hover */

#contact a:hover{
    color: var(--dark);
}

/* -------------------------- */


/* ---- Footer classes ---- */

footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--accent1);
    padding: 2%;
}

/* ------------------------- */


/* ------------------------------------------------- */

@media screen and (max-width: 992px){
    .card{
        width: 46%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    .card{
        width: 95%;
        margin-bottom: 10px;
    }
}