:root{
    --accent1: rgb(239, 214, 206);
    --accent2: rgb(162, 103, 105);
    --accent3: rgb(115, 44, 44);
    --dark: rgb(50, 2, 22);
    --grey: rgb(35, 32, 32);
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    color: var(--grey);
    background-color: var(--grey);
    padding: 10px;
}


/* ---- Heading Attributes ---- */

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 185%;
}

h4 {
    font-size: 150%;
    margin: 5px;
}

/* ---------------------------- */


/* ------- Header classes ------- */

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    color: var(--accent2);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

header h1{
    color: var(--accent1);
}

.headline-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
}

header img{
    height: 250px;
    padding: 20px;
}

/*----- Nav classes -----*/

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(to right, rgba(239, 214, 206, 1) 0%, rgba(162, 103, 105) 35%, rgba(115, 44, 44, 1) 70%, rgba(50, 2, 22, 1) 100%);
    border-radius: 5px;
}

nav li{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#nav-about a{
    color: var(--accent3);
    text-decoration: none;
    transition: 0.5s;
}

#nav-work a{
    color: var(--dark);
    text-decoration: none;
    transition: 0.5s;
}

#nav-contact a{
    color: var(--accent1);
    text-decoration: none;
    transition: 0.5s;
}

/* Nav hover functions */

#nav-about a:hover,
#nav-work a:hover,
#nav-contact a:hover{
    font-size: 120%;
}

#nav-about a:focus,
#nav-work a:focus,
#nav-contact a:focus{
    font-size: 120%;
}

/* -------------------------- */


/* ------ Main classes ----- */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.multi-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    position: relative;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 30%;
    min-height: 28vw;
    display: flex;
    align-items: flex-end;
    background-color: var(--grey);
    overflow: hidden;
}

.card img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
}

.card:hover{
    box-shadow: 5px 5px 10px var(--dark);
}

.card img:hover{
    opacity: 1;
}

#first-app{
    width: 96.5%;
    height: 85vh;
    min-height: 50vw;
}

#card-info{
    width: 75%;
    background-color: var(--accent1);
    padding: 10px;
    border-radius: 5px;
    left: 5px;
    bottom: 5px;
    z-index: 2;
}

#first-app #card-info{
    width: 50%;
}

/* About Section */

#about{
    background-image: linear-gradient(rgba(239, 214, 206, 1) 0%, rgba(162, 103, 105, 1) 100%);
    padding: 2%; 
}

#about h2{
    color: var(--accent3);
}

#about a{
    color: var(--dark);
}

#about a:hover{
    color: white;
}

#about a:focus{
    color: white;
}

/* Work Section */

#work{
    background-image: linear-gradient(rgba(162, 103, 105, 1) 0%, rgba(115, 44, 44, 1) 100%);
    padding: 2%;
}

#work h2{
    color: var(--dark);
}

#work h4{
    color: var(--accent3);
}

/* Contact Section */

#contact{
    background-image: linear-gradient(rgba(115, 44, 44, 1) 0%, rgba(50, 2, 22, 1) 100%);
    padding: 2%;
    color: var(--accent1);
}

#contact ul{
    list-style-type: none;
    padding: 0;
}

#contact ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

#contact ul li img{
    max-width: 20px;
    padding-right: 8px;
}

#contact a{
    color: var(--accent1);
    text-decoration: none;
}

#socials{
    width: 42%;
}

/* Contact form classes */

#contact-form{
    width: 42%;
    position: relative;
}

#contact form input{
    width: 65%;
}

form #description{
    position: relative;
    left: 52px;
}

form #submit{
    width: 100px;
    position: relative;
    left: 62%;
}

#contact a:hover{
    color: var(--accent2);
}

/* -------------------------- */


/* ---- Footer classes ---- */

footer {
    text-align: center;
    background-color: var(--grey);
    color: var(--accent1);
    padding: 2%;
    border-radius: 20px;
    margin-top: 10px;
}

/* ------------------------- */



/* --------------- Dynamic ---------------- */

@media screen and (max-width: 992px){
    .card{
        width: 45%;
        min-height: 40vw;
    }

    #first-app{
        width: 95%;
        min-height: 70vw;
    }
}

@media screen and (max-width: 768px){
    .card{
        width: 94%;
        min-height: 70vw;
    }

    #first-app{
        width: 94%;
        min-height: 89vw;
    }

    #first-app #card-info{
        width: 75%;
    }

}