:root{
    --accent1: #EFD6CE;
    --accent2: #A26769;
    --accent3: #732C2C;
    --dark: #320216;
    --grey: #515657;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ---- Heading Attributes ---- */

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}


/* ----- Header classes ----- */

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    padding: 2%;
    background-color: var(--dark);
    color: white;
    border-radius: 5px;
    /* width: 90%; */
    margin: auto;
}

.headline-image-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header img{
    max-height: 200px;
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a{
    color: white;
    text-decoration: none;
}


/* ---- Main classes ---- */

main {
    /* margin: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

#about{
    background-color: var(--accent1);
    padding: 2%; 
}

#work{
    background-color: var(--accent2);
    padding: 2%;
}

#contact{
    background-color: var(--accent3);
    padding: 2%;
}

.multi-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    border: 1px solid var(--grey);
    padding: 10px;
    width: 32%;
}

#contact ul{
    list-style-type: none;
}

#contact ul li{
    padding: 5px;
}

#contact a{
    color: white;
    text-decoration: none;
}

/* ---- Footer classes ---- */

footer {
    text-align: center;
}